<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        Researcher in training, passionate about economic development. My research interests include Public Economics, Political Economy, and Governance. Before graduate school, I explored real-world applications as a Consultant in Washigton D.C, Costa Rica and El Salavador. These days, when I'm not sharpening my coding skills, you'll find me passionately supporting "the beautiful game"—fútbol—or capturing moments through my camera lens.
        Access my <a href="{{'/notes' | relative_url}}"> research </a>, <a href="{{'/post/cv' | relative_url}}"> CV </a> or <a href="{{'/post/how-to' | relative_url}}"> contact me</a>.
        </h3> 
</div> </div>

<!-- Contact -->
<section id="contact">
    <div class="inner">
        <section>
            <form method="post" action="#">
                <div class="fields">
                    <div class="field half">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" class="primary" /></li>
                    <li><input type="reset" value="Clear" /></li>
                </ul>
            </form>
        </section>
        <section class="split">
            <section>
                <div class="contact-method">
                    <span class="icon solid alt fa-envelope"></span>
                    <h3>Email</h3>
                    <a href="#">ileanabeatrizmarroquin@gmail.com</a>
                </div>
            <section>
                <div class="contact-method">
                    <span class="icon solid alt fa-map-marker"></span>
                    <h3>Location</h3>
                    <span>Los Angeles<br />
                    California 90044<br />
                    United States of America</span>
                </div>
            </section>
        </section>
    </div>
</section>