<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> 
        <h3> Researcher in training, passionate about economic development. My research interests include Public Economics, Political Economy, and Governance. Before graduate school, I explored real-world applications as a Consultant in Washigton D.C, Costa Rica and El Salavador.
        These days, when I'm not sharpening my coding skills, you'll find me passionately supporting "the beautiful game"—fútbol—or capturing moments through my camera lens.<br />
        Access my <a href="{{'/notes' | relative_url}}"> research</a>, <a href="{{'/post/cv' | relative_url}}"> CV </a> or <a href="{{'/post/how-to' | relative_url}}"> contact me</a>.
        </h3> 
</div> </div>




