<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> 
        <h3> Researcher in training, passionate about economic development. My research interests include Public Economics, Political Economy, and Governance. Before graduate school, I explored real-world applications as a Consultant in Washigton D.C, Costa Rica and El Salvador.
        These days, when I'm not sharpening my coding skills, you'll find me passionately supporting "the beautiful game"  <i>—fútbol—</i> or capturing moments through my camera lens.<br />
        </h3> 
    </div> 
</div>


<div class="home-contact ">
    <div class="home-sub-title"> Collaborate & Connect </div>
    <div class="home-content no-padding">
        <p>  
            Delve into my <a href="{{'/coaching' | relative_url}}"> Resources Library</a>, brimming with practical templates, insightful guides, and my top YouTube Channels to fuel your growth.

            Beyond research, I also offer academic mentoring to individuals seeking guidance on navigating the academic landscape. Whether you're also a first-generation student or simply striving to refine your study skills and research methods, I'm here to support your journey.

            I'm excited to explore potential collaborations, so <a href="https://www.linkedin.com/in/ileanamarroquinanalyst/"> Let's connect</a>!
        </p>
    </div>
</div>


